<ion-modal-view>
    <ion-header-bar class="bar-calm bar" >
        <button ng-click="cardsHide()" class="button button-light button-clear "><i class="icon ion-ios-arrow-back"></i> </button>
        <h1 class="title">答题卡</h1>
    </ion-header-bar>
    
    <ion-content class="question_card_bg">
        <div class="answercards-box">
            <div ng-repeat="(key,childArr) in cardlist track by $index" class="q_card_bg">
                <div class="job_card_type">{{key}}</div>
                <div class="job_card_list" ng-repeat="item in childArr">
                    <div ng-click="toquestion(item.qnum)" class="job_question_num">{{item.qnum}}</div>
                </div>
                <div class="job_clear"></div>
                
            </div>
        </div>
    </ion-content>
</ion-modal-view>